# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

*.spec
*.bat
*.log
*.pyc
dist/*
build/*
__pycache__/
env/

# GL2020_Updater
GL2020_Updater/.vs
GL2020_Updater/bin
GL2020_Updater/obj
GL2020_Updater/packages
GL2020_Updater/*.csproj.user